<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9 9a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2h4zm0 4a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2h4zm10-2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2h-2a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2h2zm-4 7a1 1 0 0 1 0 2H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h10c.265 0 .52.105.707.293l4 4a.999.999 0 1 1-1.414 1.414L10.586 2H2v16h13zM5 7a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2H5z"/></svg></template>
