<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><rect width="4" height="7" x="2" y="11" rx="1.5"/><rect width="4" height="11" x="8" y="7" rx="1.5"/><rect width="4" height="15" x="14" y="3" rx="1.5"/></svg></template>
