<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M14 2a1 1 0 1 1 2 0v2h2a1 1 0 1 1 0 2h-2v2a1 1 0 1 1-2 0V6h-2a1 1 0 1 1 0-2h2V2zM9 9H1V2.75C1 1.78 1.78 1 2.75 1H9v8zM2.75 19H9v-8H1v6.25c0 .97.78 1.75 1.75 1.75zM11 19h5.25c.97 0 1.75-.78 1.75-1.75V11h-7v8z"/></svg></template>
