<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 1h18v5H1z"/><path fill-rule="evenodd" d="M19 0H1a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1v12a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V7a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zM3 18h14V7H3v11zM2 5h16V2H2v3zm6 6h4a1 1 0 1 0 0-2H8a1 1 0 1 0 0 2"/></svg></template>
