<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M17 2H3a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM5 16h10V8H5v8zM4 6h12V4H4v2zm5 6h2a1 1 0 1 0 0-2H9a1 1 0 1 0 0 2"/></svg></template>
