<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 10l6-6h12v12H7z"/><path d="M19 3H7a.997.997 0 0 0-.707.293l-6 6a.999.999 0 0 0 0 1.414l6 6A.997.997 0 0 0 7 17h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 12H7.414l-5-5 5-5H18v10zm-8.707-2.293a.997.997 0 0 0 1.414 0L12 11.414l1.293 1.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L13.414 10l1.293-1.293a.999.999 0 1 0-1.414-1.414L12 8.586l-1.293-1.293a.999.999 0 1 0-1.414 1.414L10.586 10l-1.293 1.293a.999.999 0 0 0 0 1.414"/></svg></template>
