<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M7 4H6a1 1 0 0 1-1-1V1a1 1 0 1 1 2 0v1a1 1 0 1 1 0 2zM2 4H1a1 1 0 0 1-1-1V1a1 1 0 1 1 2 0v1a1 1 0 1 1 0 2zm12 16a1 1 0 0 1-1-1v-1a1 1 0 1 1 0-2h1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1zm5 0a1 1 0 0 1-1-1v-1a1 1 0 1 1 0-2h1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1zm0-6H1a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2zM9 20H1a1 1 0 1 1 0-2h8a1 1 0 1 1 0 2zM19 2h-8a1 1 0 1 1 0-2h8a1 1 0 1 1 0 2zm0 6H1a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2z"/></svg></template>
