<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><circle cx="10" cy="10" r="3" fill="currentColor"/><path d="M19 4h-3.382l-.723-1.447A1.001 1.001 0 0 0 14 2H6c-.379 0-.725.214-.895.553L4.382 4H1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-1 12H2V6h3c.379 0 .725-.214.895-.553L6.618 4h6.764l.723 1.447c.17.339.516.553.895.553h3v10zm-8-4c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2m0-6c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4"/></svg></template>
