<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M11 4h8a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v9h4V6h-3a1 1 0 0 1 0-2zm5 14h2V6h-2v12zM8 1a1 1 0 0 1-1 1C4.243 2 2 4.243 2 7a1 1 0 0 1-2 0c0-3.86 3.14-7 7-7a1 1 0 0 1 1 1zM7 4a1 1 0 0 1 0 2c-.551 0-1 .449-1 1a1 1 0 0 1-2 0c0-1.654 1.346-3 3-3z"/></svg></template>
