<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 14a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h1v-3a3 3 0 0 1 2-2.82V1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.18A3 3 0 0 1 18 11v3h1zM2 18h16v-2H2v2zm2-7v3h12v-3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1zm2-3h4V2H6v6zm6 0h2V2h-2v6z"/></svg></template>
