<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 0a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-2v3a1 1 0 0 1-1 1h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 0 1-1-1v-3H3a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h14zm-2.424 10H16V6H4v4h1.424A5.002 5.002 0 0 1 10 7a5.002 5.002 0 0 1 4.576 3zM13 14v-2c0-1.654-1.346-3-3-3s-3 1.346-3 3v2h6zM4 4h12V2H4v2z"/></svg></template>
