<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 0c5.514 0 10 4.486 10 10s-4.486 10-10 10S0 15.514 0 10 4.486 0 10 0zm0 18c4.411 0 8-3.589 8-8s-3.589-8-8-8-8 3.589-8 8 3.589 8 8 8zm.975-6.246h1.25a.75.75 0 0 1 0 1.5h-1.25v1a1 1 0 0 1-2 0v-1h-1.25a.75.75 0 1 1 0-1.5h1.25v-.75h-1.25a.75.75 0 1 1 0-1.5h.859L6.734 6.3a1 1 0 0 1 1.732-1l1.515 2.624L11.496 5.3a1 1 0 0 1 1.732 1l-1.85 3.204h.847a.75.75 0 0 1 0 1.5h-1.25v.75z"/></svg></template>
