<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2 18h16v-8H2v8zm17 2H1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM17 6H3a1 1 0 0 1 0-2h14a1 1 0 0 1 0 2zm-2-4H5a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2z"/></svg></template>
