<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 18c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zM4 17c0 .55-.45 1-1 1s-1-.45-1-1 .45-1 1-1 1 .45 1 1zM17.666 5.84L16.28 10H4V4.133L17.666 5.84zM17 14H4v-2h13c.43 0 .812-.275.95-.684l2-6a1 1 0 0 0-.826-1.308L4 2.118V1a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h1v12.184A2.997 2.997 0 0 0 0 17c0 1.654 1.346 3 3 3s3-1.346 3-3c0-.353-.072-.686-.184-1h8.368A2.962 2.962 0 0 0 14 17c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3z"/></svg></template>
