<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 2h-2.586L12.707.293A.996.996 0 0 0 12 0H8a.996.996 0 0 0-.707.293L5.586 2H3a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-1 16H4V4h1.586l1.707 1.707A.996.996 0 0 0 8 6h4c.266 0 .52-.105.707-.293L14.414 4H16v14zM8.414 2h3.172l1 1-1 1H8.414l-1-1 1-1zM7 9a1 1 0 1 0 0 2 1 1 0 0 0 0-2m6 0h-2a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2m-6 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2m6 0h-2a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2"/></svg></template>
