<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M15 11H5V9h10v2zm-5-9a8 8 0 1 0 0 16 8 8 0 0 0 0-16z"/></svg></template>
