<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><circle cx="10" cy="10" r="9" fill="currentColor"/><path d="M20 10c0-5.514-4.486-10-10-10S0 4.486 0 10s4.486 10 10 10 10-4.486 10-10M2 10c0-4.411 3.589-8 8-8s8 3.589 8 8-3.589 8-8 8-8-3.589-8-8m12.707.707a.999.999 0 0 0 0-1.414l-3-3a.999.999 0 1 0-1.414 1.414L11.586 9H6a1 1 0 1 0 0 2h5.586l-1.293 1.293a.997.997 0 0 0 0 1.414.999.999 0 0 0 1.414 0l3-3z"/></svg></template>
