<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><circle cx="10" cy="10" r="9" fill="currentColor"/><path d="M10 20c5.514 0 10-4.486 10-10S15.514 0 10 0 0 4.486 0 10s4.486 10 10 10m0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8m-.707 12.707a.999.999 0 0 0 1.414 0l3-3a.999.999 0 1 0-1.414-1.414L11 11.586V6a1 1 0 1 0-2 0v5.586l-1.293-1.293a.997.997 0 0 0-1.414 0 .999.999 0 0 0 0 1.414l3 3z"/></svg></template>
