<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 16a5.961 5.961 0 0 1-3.471-1.115l8.356-8.356A5.961 5.961 0 0 1 16 10c0 3.309-2.691 6-6 6m0-12c1.294 0 2.49.416 3.471 1.115l-8.356 8.356A5.961 5.961 0 0 1 4 10c0-3.309 2.691-6 6-6m0-2c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8" fill-rule="evenodd"/></svg></template>
