<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10m18 0c0 4.411-3.589 8-8 8s-8-3.589-8-8 3.589-8 8-8 8 3.589 8 8M5.293 9.293a.999.999 0 0 0 0 1.414l3 3a.999.999 0 1 0 1.414-1.414L8.414 11H14a1 1 0 1 0 0-2H8.414l1.293-1.293a.997.997 0 0 0 0-1.414.999.999 0 0 0-1.414 0l-3 3z"/></svg></template>
