<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm2 9a.997.997 0 0 1-.707-.293l-2-2A.997.997 0 0 1 9 10V7a1 1 0 1 1 2 0v2.586l1.707 1.707A1 1 0 0 1 12 13z"/></svg></template>
