<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3 9a.99.99 0 0 1-.3.7l-.29.3.3.3A1 1 0 0 1 3 11v4a1 1 0 0 0 1 1 1 1 0 0 1 0 2 3 3 0 0 1-3-3v-3.59l-.7-.7a1 1 0 0 1 0-1.42l.7-.7V5a3 3 0 0 1 3-3 1 1 0 1 1 0 2 1 1 0 0 0-1 1v4zm16.7.3a1 1 0 0 1 0 1.4l-.7.71V15a3 3 0 0 1-3 3 1 1 0 0 1 0-2 1 1 0 0 0 1-1v-4a.99.99 0 0 1 .3-.7l.29-.3-.3-.3A1 1 0 0 1 17 9V5a1 1 0 0 0-1-1 1 1 0 0 1 0-2 3 3 0 0 1 3 3v3.59l.7.7zm-7.33-5.23a1 1 0 0 1 .56 1.3l-4 10A1 1 0 0 1 8 16a1 1 0 0 1-.93-1.37l4-10a1 1 0 0 1 1.3-.56z"/></svg></template>
