<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.76 4.35a1 1 0 0 0-1.41-.108S2.312 16.274 2.293 16.292a1.002 1.002 0 0 0 0 1.415.992.992 0 0 0 1.35.043l.008.01 1.964-1.683A5.968 5.968 0 0 0 10 18a6 6 0 0 0 6-6c0-1.157-.51-2.48-1.223-3.777L17.65 5.76c.42-.36.47-.99.11-1.41zM4.01 12.184C4.006 12.122 4 12.064 4 12c0-4 6-10 6-10s1.2 1.203 2.525 2.885l-8.516 7.3z"/></svg></template>
