<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 10h-2.586l3.293-3.293a.999.999 0 0 0 0-1.414l-5-5a.999.999 0 0 0-1.414 0L10 3.586V1a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v14c0 2.757 2.243 5 5 5h14a1 1 0 0 0 1-1v-8a1 1 0 0 0-1-1zM5 16a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm11 2h2v-6h-2v6zm-2 0H8.975c.288-.381.522-.799.693-1.254L14 12.414V18zM2 4h6V2H2v2zm6 11c0 1.654-1.346 3-3 3s-3-1.346-3-3V6h6v9zm2-8.586l1-1L14.586 9 10 13.586V6.414zm4-4L17.586 6 16 7.586 12.414 4 14 2.414z"/></svg></template>
