<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 0a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h7zM8 0a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h7zm5 6h5V2h-5v4zM2 6h5V2H2v4zm6 4H1a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2zm0 4H1a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2zm-5 4H1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm16-8h-7a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2zm0 4h-7a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2zm-5 4h-2a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2z"/></svg></template>
