<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 0h18a1 1 0 0 1 1 1v8a1 1 0 1 1-2 0V8H2v6h7a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1zm16 18.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0zm-4.707-.207l6-6a.999.999 0 1 1 1.414 1.414l-6 6a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414zM15 13.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM5 10h3a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2zM2 4h16V2H2v2z"/></svg></template>
