<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 3h18v5H1z"/><path fill-rule="evenodd" d="M2 16h16v-6H2v6zM2 6h16V4H2v2zM1 2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H1zm4 10a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2H5z"/></svg></template>
