<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h8a1 1 0 1 0 0-2H2V8h16v1a1 1 0 1 0 2 0V1a1 1 0 0 0-1-1zm0 14v-1c0-1.654-1.346-3-3-3s-3 1.346-3 3v1a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1zM5 10a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2H5zM2 4h16V2H2v2zm12 14h4v-2h-4v2zm1-5a1 1 0 0 1 2 0v1h-2v-1z"/></svg></template>
