<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.64 4.23a4.22 4.22 0 1 1-8.44 0 4.22 4.22 0 0 1 8.44 0zM2.95 14.47c1.38-1.09 4.14-2.85 7.47-2.85 3.34 0 6.1 1.76 7.48 2.85.62.49.8 1.3.56 2.05l-.33 1.03a2.11 2.11 0 0 1-2 1.45H4.73c-.92 0-1.73-.59-2.01-1.45l-.34-1.03a1.85 1.85 0 0 1 .57-2.05z"/></svg></template>
