<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 0H1a1 1 0 1 0 0 2v13a1 1 0 0 0 1 1h4.72l-.69 2.758a1 1 0 0 0 1.94.484L8.78 16h2.44l.81 3.242a1 1 0 1 0 1.94-.484L13.28 16H18a1 1 0 0 0 1-1V2a1 1 0 1 0 0-2zM3 14h14V2H3v12zm3-2a1 1 0 0 0 1-1V9a1 1 0 1 0-2 0v2a1 1 0 0 0 1 1m4 0a1 1 0 0 0 1-1V7a1 1 0 1 0-2 0v4a1 1 0 0 0 1 1m4 0a1 1 0 0 0 1-1V5a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1"/></svg></template>
