<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 14h-8v-4a1 1 0 1 0-2 0v4H1a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1zM10 4a1 1 0 1 1 0 2c-2.206 0-4 1.794-4 4a1 1 0 1 1-2 0c0-3.309 2.691-6 6-6zm-9 7a1 1 0 0 0 1-1c0-4.411 3.589-8 8-8a1 1 0 1 0 0-2C4.486 0 0 4.486 0 10a1 1 0 0 0 1 1m1 7h16v-2H2v2z"/></svg></template>
