<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M7 6a1 1 0 1 1 0-2h6a1 1 0 1 1 0 2H7zm5 2a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2h4zm6 10v-6h-.795l-6.811 2.919a1 1 0 0 1-.788 0L2.795 12H2v6h16zM16 2H4v8.341l6 2.571 6-2.571V2zm3 8a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h1V1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v9h1z"/></svg></template>
