<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 3v14h18l-4-3V6l4-3z"/><path d="M19 2H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM9 12H5a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2m-4-2h2a1 1 0 1 0 0-2H5a1 1 0 1 0 0 2M2 4h14.001L14.4 5.2a1 1 0 0 0-.4.8v8a1 1 0 0 0 .4.8l1.601 1.2H2V4zm14 9.5v-7L18 5v10l-2-1.5z"/></svg></template>
