<template><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3.08 8.668l2.627 2.626a.998.998 0 0 1 .283.849l-.732 5.12 4.375-2.16a1 1 0 0 1 .894.005l4.21 2.133-.727-5.098a.998.998 0 0 1 .283-.85l2.644-2.643-4.235-.754a.999.999 0 0 1-.724-.547L9.988 3.26 7.894 7.448a.998.998 0 0 1-.73.539l-4.083.68zM4 20a1 1 0 0 1-.99-1.142l.929-6.504L.293 8.708a1 1 0 0 1 .542-1.693l5.498-.917L9.105.554a1 1 0 1 1 1.794.01l2.654 5.452 5.622 1a1 1 0 0 1 .532 1.692l-3.647 3.647.93 6.504a1 1 0 0 1-1.442 1.034l-5.478-2.774-5.627 2.778A.99.99 0 0 1 4 20z"/></svg></template>
