<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 0a1 1 0 0 1 .9.55l2.77 5.55 5.5.91a1 1 0 0 1 .54 1.7l-3.65 3.64.93 6.5a1 1 0 0 1-1.44 1.04L10 17.12l-5.55 2.77A1 1 0 0 1 3 18.86l.93-6.5L.29 8.7A1 1 0 0 1 .84 7l5.5-.91L9.1.55A1 1 0 0 1 10 0zm0 3.24l-2.1 4.2a1 1 0 0 1-.74.55l-4.08.68 2.63 2.62a1 1 0 0 1 .28.85l-.73 5.11 4.3-2.14a1 1 0 0 1 .89 0l4.29 2.14-.73-5.1a1 1 0 0 1 .28-.86l2.63-2.62-4.08-.68a1 1 0 0 1-.73-.54L10 3.24z"/></svg></template>
