<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14 5c-.203 0-.403.01-.6.03L7.64.23a1.005 1.005 0 0 0-1.28 0l-6 5A1.01 1.01 0 0 0 0 6v13a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2c3.31 0 6-2.69 6-6s-2.69-6-6-6zM7 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 10c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm-2 3H2v-2h8.69c.405.27.845.484 1.31.65V18zM2 6.47L7 2.3l4.123 3.435A6.007 6.007 0 0 0 8 11c0 1.094.3 2.116.812 3H2V6.47zM15 9a1 1 0 0 0-1 1 1 1 0 1 0-2 0c0 2 2 3 2 3s2-1 2-3a1 1 0 0 0-1-1z"/></svg></template>
