<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.962 9.726C19.939 9.648 17.666 2 10 2S.061 9.648.038 9.726a1 1 0 0 0 0 .548C.061 10.352 2.334 18 10 18s9.939-7.648 9.962-7.726a1 1 0 0 0 0-.548M10 16c-5.467 0-7.512-4.771-7.948-6C2.488 8.771 4.533 4 10 4c5.469 0 7.514 4.775 7.948 6-.435 1.228-2.481 6-7.948 6m1.594-9.805a1 1 0 0 0-1.041-.09l-2 1a1 1 0 0 0 .895 1.79l.243-.123-.677 4.064a1 1 0 1 0 1.973.328l1-6a1.002 1.002 0 0 0-.393-.969"/></svg></template>
