<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 19h18V3H9L7 1H1z"/><path d="M19 2H9.414L7.707.293A.996.996 0 0 0 7 0H1a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM6 11a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H7a1 1 0 0 0-1 1m12 7H2V2h4.586l1.707 1.707A.996.996 0 0 0 9 4h9v14z"/></svg></template>
