<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 2H9.414L7.707.293A.996.996 0 0 0 7 0H1a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM9 11.586l-1.293-1.293a.999.999 0 1 0-1.414 1.414l3 3a.997.997 0 0 0 1.414 0l3-3a.999.999 0 1 0-1.414-1.414L11 11.586V8a1 1 0 1 0-2 0v3.586zM18 18H2V2h4.586l1.707 1.707A.996.996 0 0 0 9 4h9v14z"/></svg></template>
