<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 8.586L16.586 2H3.414L10 8.586zM19.382.077A1.006 1.006 0 0 1 20 1v8a1 1 0 1 1-2 0V3.414l-7.293 7.293a.997.997 0 0 1-1.414 0L2 3.414V15h7a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1V1a1.006 1.006 0 0 1 1-1h18c.13 0 .26.026.382.077zm-2.675 12.216l3 3a.999.999 0 0 1 0 1.414l-3 3a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414L16.586 17H13a1 1 0 1 1 0-2h3.586l-1.293-1.293a.999.999 0 1 1 1.414-1.414z"/></svg></template>
