<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 12h18v7H1z"/><path fill-rule="evenodd" d="M19 11H1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1zM2 18h16v-5H2v5zM6 2a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2H6zm6 0h2a1 1 0 0 0 0-2h-2a1 1 0 0 0 0 2m7-2h-1a1 1 0 0 0 0 2 1 1 0 0 0 2 0V1a1 1 0 0 0-1-1M1 3a1 1 0 0 0 1-1 1 1 0 0 0 0-2H1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1m0 6a1 1 0 0 0 1-1V6a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1m18-4a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V6a1 1 0 0 0-1-1"/></svg></template>
