<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 0H1a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h8a1 1 0 1 0 0-2H2V2h16v9a1 1 0 1 0 2 0V1a1 1 0 0 0-1-1m-.707 14.293L15 17.586l-1.293-1.293a.999.999 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l4-4a.999.999 0 1 0-1.414-1.414M6 11h8a1 1 0 1 0 0-2H6a1 1 0 1 0 0 2m0 4h3a1 1 0 1 0 0-2H6a1 1 0 1 0 0 2m0-8h8a1 1 0 1 0 0-2H6a1 1 0 1 0 0 2"/></svg></template>
