<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6.673 12.999l.667-6h5.987l-.666 6H6.673zm12.327 0h-4.327l.667-6H19a1 1 0 1 0 0-2h-3.438l.432-3.89a1 1 0 0 0-.883-1.104 1.01 1.01 0 0 0-1.105.884l-.456 4.11H7.562l.432-3.89A1 1 0 0 0 7.11.005a1.009 1.009 0 0 0-1.104.884l-.456 4.11H1a1 1 0 1 0 0 2h4.327l-.666 6H1a1 1 0 1 0 0 2h3.439l-.433 3.89a1 1 0 0 0 1.988.22l.456-4.11h5.989l-.433 3.89a1 1 0 0 0 1.988.22l.456-4.11H19a1 1 0 1 0 0-2z"/></svg></template>
