<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.999 17.877C8.291 16.959 2 13.161 2 7c0-1.867.52-5 4-5 1.65 0 2.255.891 3.056 2.357l.067.124c.351.64 1.403.64 1.754 0l.067-.124C11.745 2.891 12.35 2 14 2c3.48 0 4 3.133 4 5 0 6.144-6.295 9.956-8.001 10.877M14 0c-2.064 0-3.232.998-4 2.061C9.232.998 8.065 0 6 0 2.299 0 0 2.682 0 7c0 8.355 9.187 12.725 9.578 12.906a.99.99 0 0 0 .844 0C10.813 19.725 20 15.355 20 7c0-4.318-2.299-7-6-7"/></svg></template>
