<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 0H1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zM2 12h16V2H2v10zm9.293 4.293L10 17.586l-1.293-1.293a.999.999 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l2-2a.999.999 0 1 0-1.414-1.414M9 10h2a1 1 0 1 0 0-2H9a1 1 0 1 0 0 2m5-1a1 1 0 1 0 2 0 1 1 0 1 0-2 0m-9 1a1 1 0 1 0 0-2 1 1 0 1 0 0 2m1-4a1 1 0 1 0 0-2 1 1 0 1 0 0 2m4 0a1 1 0 1 0 0-2 1 1 0 1 0 0 2m4 0a1 1 0 1 0 0-2 1 1 0 1 0 0 2"/></svg></template>
