<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18 7.26V17.5c0 .84-.67 1.5-1.5 1.5h-2a1.5 1.5 0 0 1-1.5-1.5v-3c0-.83-.67-1.5-1.5-1.5h-3c-.83 0-1.5.67-1.5 1.5v2.98C7 18.32 6.33 19 5.5 19h-2c-.83 0-1.5-.68-1.5-1.52V7.26c0-.48.23-.93.61-1.2l6.6-4.83c.48-.3 1.1-.3 1.58 0l6.6 4.82c.38.28.61.73.61 1.21z"/></svg></template>
