<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10.618 18L14 11.236 17.382 18h-6.764zM4 16V9.899A5.006 5.006 0 0 0 9.898 4H16v6.764l-1.106-2.211c-.339-.678-1.449-.678-1.789 0L9.382 16H4zM5 2c1.654 0 3 1.346 3 3S6.654 8 5 8 2 6.654 2 5s1.346-3 3-3zm14.894 16.553L18 14.764V3a1 1 0 0 0-1-1H8.974C8.06.793 6.627 0 5 0 2.243 0 0 2.243 0 5c0 1.627.793 3.061 2 3.975V17a1 1 0 0 0 1 1h5.382l-.277.553A.999.999 0 0 0 9 20h10a.998.998 0 0 0 .894-1.447z"/></svg></template>
