<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.894 6.553c-.339-.678-1.45-.678-1.789 0l-3 6a1 1 0 1 0 1.789.894L2.618 12h2.764l.723 1.447a1 1 0 0 0 1.789-.894l-3-6zM13 12h-2V7a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1h3a1 1 0 1 0 0-2zm6-6h-4a1 1 0 1 0 0 2h1v5a1 1 0 1 0 2 0V8h1a1 1 0 1 0 0-2zM3.618 10L4 9.236l.382.764h-.764z"/></svg></template>
