<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12 11a1 1 0 1 1 0 2h-2a1 1 0 0 1-1-1V8a1 1 0 1 1 2 0v3h1zm5-4a1 1 0 1 1 0 2h-1v3a1 1 0 1 1-2 0V9h-1a1 1 0 1 1 0-2h4zm-11.105.553l2 4a1 1 0 0 1-1.79.895L5.883 12H4.119l-.224.448a1 1 0 0 1-1.79-.895l2-4c.34-.678 1.45-.678 1.79 0z"/></svg></template>
