<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 0H5a1 1 0 0 0-1 1v3H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zM6 14v-2.465l2-1.333 2.445 1.63a.998.998 0 0 0 1.262-.125L16 7.414l2 2V14H6zm8 4H2V6h2v9a1 1 0 0 0 1 1h9v2zM6 2h12v4.586l-1.293-1.293a.999.999 0 0 0-1.414 0l-4.42 4.42-2.318-1.545a.997.997 0 0 0-1.11 0L6 9.132V2zm4.5 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/></svg></template>
