<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 4h-6a1 1 0 1 0 0 2h5v4.586l-1.293-1.293a1 1 0 0 0-1.414 0l-4.42 4.42-2.318-1.545a.997.997 0 0 0-1.11 0L6 13.132V13a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zM6 18v-2.465l2-1.333 2.445 1.63a.997.997 0 0 0 1.262-.125L16 11.414l2 2V18H6zm3-8.5a1.5 1.5 0 1 0 2.999.001A1.5 1.5 0 0 0 9 9.5zM1 2h8a1 1 0 1 0 0-2H1a1 1 0 1 0 0 2zm0 4h8a1 1 0 1 0 0-2H1a1 1 0 1 0 0 2zm6 3a1 1 0 0 0-1-1H1a1 1 0 1 0 0 2h5a1 1 0 0 0 1-1z"/></svg></template>
