<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 1h8v6H1z"/><path d="M9 8H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1zM2 6h6V2H2v4zm7 14H1a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2zm10-4H1a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2m0-4H1a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2m0-4h-6a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2m0-4h-6a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2"/></svg></template>
