<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 7a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2H2v9h16V9h-4a1 1 0 1 1 0-2h5zM1 2a1 1 0 1 1 0-2h5c2.757 0 5 2.243 5 5v7.586l1.293-1.293a.999.999 0 1 1 1.414 1.414l-3 3a.997.997 0 0 1-1.414 0l-3-3a.999.999 0 1 1 1.414-1.414L9 12.586V5c0-1.654-1.346-3-3-3H1z"/></svg></template>
