<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4 16h12v-2H4v2zM6.707 5.293L10 8.586l3.293-3.293 1.414 1.414L10 11.414 5.293 6.707l1.414-1.414zM17 2H3a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/></svg></template>
