<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M12 18h2v-6h-2v6zm-2-8H8v2h2v-2zm-4 8h4v-4H6v4zm9-8a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h1V9a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h3zm4.406-5.914A1 1 0 0 1 20 5v14a1 1 0 0 1-2 0V5.65l-8-3.556L2 5.65V19a1 1 0 0 1-2 0V5a1 1 0 0 1 .594-.914l9-4a.999.999 0 0 1 .812 0l9 4z"/></svg></template>
