<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 14V6.943l5.419 3.871a.999.999 0 0 0 1.162 0L16 6.943V14H4zm9.879-8L10 8.771 6.121 6h7.758zM17 4H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z"/></svg></template>
