<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M10 7.001h7.62l-2.54 6H4.94l-2.58-6z"/><path d="M19 4.001a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-14a1 1 0 0 1 1-1h1.68L3.78.682a1 1 0 0 1 .94-.68h10.51a1 1 0 0 1 1 .68l1.09 3.32H19zm-16.64 2l2.58 6h10.14l2.54-6H2.36zm3.08-4l-.65 2h10.43l-.66-2H5.44zm-3.44 16h16v-7.77l-1.25 3.121a1.06 1.06 0 0 1-.95.69H4.33a1.07 1.07 0 0 1-1-.69L2 10.262v7.74zm8-9a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg></template>
