<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 6h-3V1a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v5H1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zM7 14H5a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2m8 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2m3 4H2V8h2v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8h2v10zM6 10h8V2H6v8z"/></svg></template>
