<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M11 7c0-.552-.449-1-1-1H1a1 1 0 1 1 0-2h9c1.654 0 3 1.346 3 3v5.586l1.293-1.293a.999.999 0 1 1 1.414 1.414l-3 3a.997.997 0 0 1-1.414 0l-3-3a.999.999 0 1 1 1.414-1.414L11 12.586V7zm8.707-2.707A1 1 0 0 1 20 5v14a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 1 1 2 0v9h12V5.414L14.586 2H5a1 1 0 1 1 0-2h10c.265 0 .52.106.707.293l4 4z"/></svg></template>
