<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 0H6a4 4 0 0 0-4 4v10H1a1 1 0 0 0-1 1v1a4 4 0 0 0 4 4h9a3 3 0 0 0 3-3V6h1a3 3 0 0 0 0-6zM4 18a2 2 0 0 1-2-2h8v1a3 3 0 0 0 .17 1H4zm10-1a1 1 0 0 1-2 0v-2a1 1 0 0 0-1-1H4V4a2 2 0 0 1 2-2h8.18A2.92 2.92 0 0 0 14 3v14zm3-13h-1V3a1 1 0 1 1 1 1zm-5 1a1 1 0 0 1-1 1H7a1 1 0 1 1 0-2h4a1 1 0 0 1 1 1zm0 4a1 1 0 0 1-1 1H7a1 1 0 1 1 0-2h4a1 1 0 0 1 1 1z"/></svg></template>
