<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 0H1a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zM2 18h16V2H2v16zM9 7h6a1 1 0 1 0 0-2H9a1 1 0 1 0 0 2M5 7a1 1 0 1 0 0-2 1 1 0 1 0 0 2m4 4h6a1 1 0 1 0 0-2H9a1 1 0 1 0 0 2m-4 0a1 1 0 1 0 0-2 1 1 0 1 0 0 2m4 4h6a1 1 0 1 0 0-2H9a1 1 0 1 0 0 2m-4 0a1 1 0 1 0 0-2 1 1 0 1 0 0 2"/></svg></template>
