<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16 13.424C15.248 12.756 12.901 11 9 11c-3.898 0-6.245 1.753-7 2.424V18h14v-4.576zM2 10.946C3.45 10.03 5.795 9 9 9s5.55 1.031 7 1.946V9a1 1 0 1 1 2 0v10a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h10a1 1 0 1 1 0 2H2v6.946zM17 4a.999.999 0 0 1-.707-1.707l1-1a.999.999 0 1 1 1.414 1.414l-1 1A.997.997 0 0 1 17 4zm2 3h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2zm-5-4a1 1 0 0 1-1-1V1a1 1 0 1 1 2 0v1a1 1 0 0 1-1 1zm1 3a1 1 0 1 1-2 0 1 1 0 1 1 2 0z"/></svg></template>
