<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M13 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path d="M10 0C5.59 0 2 3.59 2 8c0 7.495 7.197 11.694 7.504 11.87a1.004 1.004 0 0 0 .992 0C10.803 19.693 18 15.494 18 8c0-4.41-3.59-8-8-8zm0 17.813C8.477 16.783 4 13.295 4 8c0-3.31 2.69-6 6-6s6 2.69 6 6c0 5.276-4.482 8.778-6 9.813zM10 10c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-6C7.794 4 6 5.794 6 8s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z"/></svg></template>
