<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M17 8h-1V6c0-3.309-2.691-6-6-6S4 2.691 4 6v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zM4 18h12v-8H4v8zM6 6c0-2.206 1.794-4 4-4s4 1.794 4 4v2H6V6zm4 10a1 1 0 0 0 1-1v-2a1 1 0 1 0-2 0v2a1 1 0 0 0 1 1"/></svg></template>
