<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 9a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-7a1 1 0 1 1 2 0v3h2.382c.379 0 .725.214.894.553L8 15h4l.724-1.447a.998.998 0 0 1 .894-.553H16v-3a1 1 0 0 1 1-1zm-8.707-.293l-3-3a.999.999 0 1 1 1.414-1.414L9 6.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5a.997.997 0 0 1-1.414 0z"/></svg></template>
