<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M17.05 15.77c.43.17.95-.08.95-.48V1.53c0-.4-.52-.65-.95-.48-.73.44-1.4.88-2.03 1.31-2.27 1.52-4.26 2.85-7.5 2.88H3.17a3.17 3.17 0 1 0 0 6.35H7.4c3.3 0 5.32 1.34 7.6 2.87.65.43 1.31.88 2.04 1.31zM8.47 19h-.84c-.45 0-.85-.29-1-.7l-2.32-4.6h4.16c.59 0 1.06.48 1.06 1.06v3.18c0 .58-.48 1.06-1.06 1.06z"/></svg></template>
