<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9 12.414L5.293 8.707l1.414-1.414L9 9.586l4.293-4.293 1.414 1.414L9 12.414zM17 2H3a1 1 0 0 0-1 1v14a1.002 1.002 0 0 0 1.555.832l2.305-1.537 1.349 1.399c.184.191.437.301.702.306a.96.96 0 0 0 .713-.281l1.364-1.317 1.305 1.305a.997.997 0 0 0 1.414 0l1.42-1.42 2.318 1.545A1 1 0 0 0 18 17V3a1 1 0 0 0-1-1z"/></svg></template>
