<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3 11a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H3zm14-9a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V5.414l-4.293 4.293a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414L14.586 4H12a1 1 0 1 1 0-2h5zm-1 12v2h-2a1 1 0 1 0 0 2h3a1 1 0 0 0 1-1v-3a1 1 0 1 0-2 0zM4 16h3v-3H4v3zM4 6V4h2a1 1 0 1 0 0-2H3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0z"/></svg></template>
