<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 13h6v6H1z"/><path fill-rule="evenodd" d="M19 0H1a1 1 0 0 0-1 1v8a1 1 0 1 0 2 0V2h16v16h-7a1 1 0 1 0 0 2h8a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1M2 18h4v-4H2v4zm5-6H1a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm3.707-1.293L14 7.414V10a1 1 0 1 0 2 0V5a1 1 0 0 0-1-1h-5a1 1 0 1 0 0 2h2.586L9.293 9.293a.999.999 0 1 0 1.414 1.414"/></svg></template>
