<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M7 4a3 3 0 1 1 6 0v4a3 3 0 1 1-6 0V4z"/><path d="M18 8a1 1 0 1 0-2 0c0 3.309-2.691 6-6 6s-6-2.691-6-6a1 1 0 1 0-2 0c0 4.072 3.061 7.436 7 7.931V18H8a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-2.069c3.939-.495 7-3.859 7-7.931m-8 4c2.206 0 4-1.794 4-4V4c0-2.206-1.794-4-4-4S6 1.794 6 4v4c0 2.206 1.794 4 4 4zM8 4c0-1.103.897-2 2-2s2 .897 2 2v4c0 1.103-.897 2-2 2s-2-.897-2-2V4z"/></svg></template>
