<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 0H1a1 1 0 0 0-1 1v8a1 1 0 1 0 2 0V2h16v16h-7a1 1 0 1 0 0 2h8a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1M2 18h4v-4H2v4zm5-6H1a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm8-1a1 1 0 1 0 0-2h-2.586l3.293-3.293a.999.999 0 1 0-1.414-1.414L11 7.586V5a1 1 0 1 0-2 0v5a1 1 0 0 0 1 1h5z"/></svg></template>
