<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8 11H3a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1zm9-2a1 1 0 0 0-1-1h-2.586l4.293-4.293a.999.999 0 1 0-1.414-1.414L12 6.586V4a1 1 0 1 0-2 0v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1m0 4a1 1 0 0 0-1 1v2h-2a1 1 0 1 0 0 2h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1M4 16h3v-3H4v3zM3 7a1 1 0 0 0 1-1V4h2a1 1 0 1 0 0-2H3a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1"/></svg></template>
