<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 11H1a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2zm0-7H1a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2zm0 14H1a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2z"/></svg></template>
