<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M7 18a.997.997 0 0 1-.707-.293l-6-6a.999.999 0 1 1 1.414-1.414l5.236 5.236 11.298-13.18a.999.999 0 1 1 1.518 1.3l-12 14a1 1 0 0 1-.721.35H7"/></svg></template>
