<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M3 1h14v18H3z"/><path d="M17 0H3a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zM4 18h12V2H4v16zM9 6h2a1 1 0 1 0 0-2H9a1 1 0 1 0 0 2m1 8a1 1 0 1 0 0 2 1 1 0 0 0 0-2" fill-rule="evenodd"/></svg></template>
