<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 9a4 4 0 0 0 3.29-1.72A3 3 0 0 0 19 6c0-1.61-.87-3.12-1.55-4.25A1.54 1.54 0 0 0 16.13 1H3.8c-.5 0-.97.25-1.24.67C1.87 2.77 1 4.38 1 6a3 3 0 0 0 5.71 1.28A4 4 0 0 0 10 9zm-3 1a4.98 4.98 0 0 1-5 .58v6.92c0 .83.67 1.5 1.5 1.5h2c.83 0 1.5-.67 1.5-1.5v-3c0-.83.67-1.5 1.5-1.5h3c.83 0 1.5.67 1.5 1.5v3c0 .84.67 1.5 1.5 1.5h2c.83 0 1.5-.66 1.5-1.5v-6.92a4.98 4.98 0 0 1-5-.58 4.98 4.98 0 0 1-6 0z"/></svg></template>
