<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 1a1 1 0 1 0-2 0v7.59l-1.3-1.3a1 1 0 0 0-1.4 1.42l3 3a1 1 0 0 0 1.4 0l3-3a1 1 0 0 0-1.4-1.42L11 8.6V1z"/><path d="M3 14V3h3a1 1 0 0 0 0-2H2.5C1.67 1 1 1.67 1 2.5v15c0 .83.67 1.5 1.5 1.5h15c.83 0 1.5-.67 1.5-1.5v-15c0-.83-.67-1.5-1.5-1.5H14a1 1 0 1 0 0 2h3v11h-3.5c-.77 0-1.39.66-1.93 1.24l-.1.12a2 2 0 0 1-2.93 0l-.11-.12C7.89 14.66 7.27 14 6.5 14H3z"/></svg></template>
