<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2H2v6h16v-6h-4a1 1 0 1 1 0-2h5zm-9 6a1 1 0 0 1-1-1V8c0-2.757 2.243-5 5-5h2.586l-1.293-1.293A.999.999 0 1 1 16.707.293l3 3a.999.999 0 0 1 0 1.414l-3 3a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414L16.586 5H14c-1.654 0-3 1.346-3 3v7a1 1 0 0 1-1 1z"/></svg></template>
