<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 5h18v14H1V5z"/><path d="M19.9 4.58c-.003-.008 0-.018-.005-.027l-2-4A.998.998 0 0 0 17 0H3a1 1 0 0 0-.895.553l-2 4c-.004.01-.002.02-.006.028-.06.13-.1.27-.1.42v14a1 1 0 0 0 1 1h18c.55 0 1-.447 1-1V5c0-.15-.04-.29-.1-.42zM2 18V6h7v1a1 1 0 0 0 2 0V6h7v12H2zM3.618 2H9v2H2.618l1-2zm13.764 2H11V2h5.382l1 2zM9 14H5a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2zm-4-2h2a1 1 0 0 0 0-2H5a1 1 0 0 0 0 2z"/></svg></template>
