<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M3 19h14V5l-4-4H3z"/><path d="M4 18h12V5.414L12.586 2H4v16zm13 2H3a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h10c.266 0 .52.105.707.293l4 4A.996.996 0 0 1 18 5v14a1 1 0 0 1-1 1z"/></svg></template>
