<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17.707 4.293l-4-4A.996.996 0 0 0 13 0H3a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a.996.996 0 0 0-.293-.707zM16 18H4V2h8.586L16 5.414V18zM9.293 6.293l-3 3a.999.999 0 1 0 1.414 1.414L9 9.414V13a1 1 0 1 0 2 0V9.414l1.293 1.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414l-3-3a.999.999 0 0 0-1.414 0"/></svg></template>
