<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M11 14h2V6h-2v8zm-4 0h2V6H7v8zm3-12a8 8 0 1 0 0 16 8 8 0 0 0 0-16z"/></svg></template>
