<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M17.815 10A2.996 2.996 0 0 0 15 8H6V6h12v4h-.185zM15 12h-4a1 1 0 0 0-.949.684l-1.74 5.222L2 17.117V6.618l2-1V9a1 1 0 0 0 1 1h10a1.001 1.001 0 0 1 0 2zM6 4h12V2H6v2zm13-4H5a1 1 0 0 0-1 1v2.382L.552 5.105A1 1 0 0 0 0 6v12a1 1 0 0 0 .876.992l8 1a.999.999 0 0 0 1.072-.676L11.72 14H15a2.996 2.996 0 0 0 2.815-2H19a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"/></svg></template>
