<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17.7 7L13 2.3c-.2-.2-.401-.3-.7-.3-.3 0-.6.1-.701.4L8 6.7c-3.3.1-4.2 1.9-4.3 2.1-.2.4-.2.8.2 1.1l2.4 2.4-4 4c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.3 0 .5-.1.7-.3l4-4 2.399 2.4c.201.2.401.3.701.3.2 0 .299 0 .4-.1.2-.1 1.899-1.1 2.1-4.3l4.299-3.6C17.9 8.3 18 8 18 7.7c0-.3-.1-.5-.3-.7"/></svg></template>
