<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm3.515-8.858l-5-3A1.001 1.001 0 0 0 7 7v6a1.001 1.001 0 0 0 1.515.857l5-3a1.002 1.002 0 0 0 0-1.715zM9 11.233V8.766L11.057 10 9 11.233z"/></svg></template>
