<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 10h-3.796C14 9.554 13.456 8.693 13.211 8H17a1 1 0 0 0 .949-1.316l-2-6A1 1 0 0 0 15 0H5a1 1 0 0 0-.949.684l-2 6A1.003 1.003 0 0 0 3 8h3.789c-.245.693-.789 1.554-1.993 2H1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-8a1 1 0 0 0-1-1zM2 18h16v-6H2v6zM8.87 8h2.26c.141.624.426 1.331.902 2H7.968a5.626 5.626 0 0 0 .902-2zM5.721 2h8.558l1.334 4H4.387l1.334-4zM8 14H5a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2"/></svg></template>
