<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8.03 11c0 1.65 1.35 3 3 3s3-1.35 3-3-1.34-2.99-2.99-3h-.01c-1.65 0-3 1.35-3 3zm9.71 5.29c.39.39.39 1.03 0 1.42-.2.19-.45.29-.71.29-.26 0-.51-.1-.71-.29l-2.53-2.53c-.79.51-1.74.82-2.76.82a5 5 0 0 1-4.9-4H3c-.55 0-1-.45-1-1s.45-1 1-1h3.13c.15-.72.44-1.38.87-1.95l-3.96.04h-.01a1 1 0 0 1-.01-2l8-.09h.01c2.76 0 5 2.24 5 5 0 1.02-.31 1.97-.82 2.76l2.53 2.53zM3.03 4.023a1 1 0 0 1-.003-2l8-.022h.003a1 1 0 0 1 .003 2l-8 .021H3.03z"/></svg></template>
