<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M5 1h10v4H5V1zm0 12h10v6H5v-6z"/><path fill-rule="evenodd" d="M19 4h-3V1a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v3H1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h3v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-5 5a1 1 0 1 0 2 0 1 1 0 0 0-2 0m4 5h-2v-1a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v1H2V6h16v8zM6 18h8v-4H6v4zM6 4h8V2H6v2zm1 4H5a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2"/></svg></template>
