<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 0a1 1 0 0 1 1 1v9c0 .265-.105.52-.293.707l-9 9a.997.997 0 0 1-1.414 0l-9-9a.999.999 0 0 1 0-1.414l9-9C9.48.106 9.735 0 10 0h9zm-9 17.586L11.586 16 4 8.414 2.414 10 10 17.586zm8-8V2h-7.586l-5 5L13 14.586l5-5zM15 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg></template>
