<template functional><svg :class="data.class" v-bind="data.attrs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 12a6 6 0 0 0 6 6h9a1 1 0 1 0 0-2H8a4 4 0 0 1 0-8h6.526l-2.233 2.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 1 0-1.414 1.414L14.526 6H8a6 6 0 0 0-6 6z"/></svg></template>
