<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 2a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V5.414l-5.293 5.293a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414L14.586 4H12a1 1 0 1 1 0-2h5zm0 9a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2H4v12h12v-4a1 1 0 0 1 1-1z"/></svg></template>
