<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16 12h-2c-.55 0-1 .45-1 1v2h-2V5.79l1.36-.68c.14-.07.29-.11.44-.11H16v7zM4 15V5h3.2c.15 0 .3.04.44.11L9 5.79V15H4zM17 3h-4.2c-.46 0-.92.11-1.34.32L10 4.05l-1.46-.73C8.12 3.11 7.66 3 7.2 3H3c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h6c0 .55.45 1 1 1s1-.45 1-1h3c.26 0 .52-.1.71-.29l3-3c.19-.19.29-.45.29-.71V4c0-.55-.45-1-1-1z"/></svg></template>
