<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.707 18.293l-5.395-5.396A7.952 7.952 0 0 0 16 8c0-4.411-3.589-8-8-8S0 3.589 0 8s3.589 8 8 8a7.952 7.952 0 0 0 4.897-1.688l5.396 5.395a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414M8 14c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6m1-6.414V5a1 1 0 1 0-2 0v3c0 .266.105.52.293.707l2 2a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L9 7.586z"/></svg></template>
