<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M15.293 7.707a.997.997 0 0 0 1.414 0l3-3a.999.999 0 0 0 0-1.414l-3-3a.999.999 0 1 0-1.414 1.414L16.586 3H8.5C3.813 3 0 6.813 0 11.5 0 16.187 3.813 20 8.5 20c4.687 0 8.5-3.813 8.5-8.5V11a1 1 0 1 0-2 0v.5c0 3.584-2.916 6.5-6.5 6.5A6.508 6.508 0 0 1 2 11.5C2 7.916 4.916 5 8.5 5h8.086l-1.293 1.293a.999.999 0 0 0 0 1.414"/></svg></template>
