<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.707 3.293a.999.999 0 0 1 0 1.414l-3 3a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414L16.586 5H7C4.794 5 3 6.794 3 9a1 1 0 1 1-2 0c0-3.309 2.691-6 6-6h9.586l-1.293-1.293A.999.999 0 1 1 16.707.293l3 3zM17 10a1 1 0 0 1 1 1c0 3.31-2.69 6-6 6H3.414l1.293 1.293a.999.999 0 1 1-1.414 1.414l-3-3a.999.999 0 0 1 0-1.414l3-3a.999.999 0 1 1 1.414 1.414L3.414 15H12c2.206 0 4-1.794 4-4a1 1 0 0 1 1-1z"/></svg></template>
