<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14 12h-2v-1c0-.551-.449-1-1-1H8.414l1.293 1.293-1.414 1.414L4.586 9l3.707-3.707 1.414 1.414L8.414 8H11c1.654 0 3 1.346 3 3v1zm3-10H3a1 1 0 0 0-1 1v14a1 1 0 0 0 1.555.832l2.305-1.537 1.349 1.399a1.002 1.002 0 0 0 1.415.026l1.364-1.318 1.305 1.305a.997.997 0 0 0 1.414 0l1.42-1.42 2.318 1.545A1 1 0 0 0 18 17V3a1 1 0 0 0-1-1z"/></svg></template>
