<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 2H3a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-4 13h2V8h-2v7zm-4 0h2V5H9v10zm-4 0h2v-4H5v4z" fill-rule="evenodd"/></svg></template>
