<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10.894.509c-.339-.678-1.449-.678-1.789 0l-9 18A.999.999 0 0 0 1 19.956h18a.998.998 0 0 0 .894-1.447l-9-18zM2.618 17.956L10 3.192l7.382 14.764H2.618zm6.382-7a1 1 0 1 0 2 0v-2a1 1 0 1 0-2 0v2zm-.1 4a1.1 1.1 0 1 0 2.2-.002 1.1 1.1 0 0 0-2.2.002z"/></svg></template>
