<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2 8c0-3.309 2.691-6 6-6s6 2.691 6 6-2.691 6-6 6-6-2.691-6-6m17.707 10.293l-5.395-5.396A7.946 7.946 0 0 0 16 8c0-4.411-3.589-8-8-8S0 3.589 0 8s3.589 8 8 8a7.954 7.954 0 0 0 4.897-1.688l5.396 5.395a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414"/></svg></template>
