<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M12 1h7v18h-7z"/><path fill-rule="evenodd" d="M20 19V1a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1zM2 8a1 1 0 1 1-2 0V6a1 1 0 1 1 2 0v2zm0 6v-2a1 1 0 1 0-2 0v2a1 1 0 1 0 2 0m1 5a1 1 0 0 0-1-1 1 1 0 1 0-2 0v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1M2 2a1 1 0 1 0 0-2H1a1 1 0 0 0-1 1v1a1 1 0 1 0 2 0m3-1a1 1 0 0 0 1 1h2a1 1 0 1 0 0-2H6a1 1 0 0 0-1 1m4 18a1 1 0 0 0-1-1H6a1 1 0 1 0 0 2h2a1 1 0 0 0 1-1m4-1h5V2h-5v16z"/></svg></template>
