<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M14 5L9.001 9.999 6.001 8 1 11v4h18V9z"/><path d="M19 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm-1 2v4.919l-3.375-2.7a1 1 0 0 0-1.332.074l-4.42 4.42-2.318-1.545a.996.996 0 0 0-1.07-.025L2 9.234V2h16zM2 14v-2.434l3.972-2.383 2.473 1.649a1 1 0 0 0 1.262-.125l4.367-4.367L18 9.48V14H2zm4 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2m4 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2m4 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/></svg></template>
