<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8M7 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m6 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-3 6a3.006 3.006 0 0 1-2.829-2h5.658A3.006 3.006 0 0 1 10 13m4-4H6a1 1 0 0 0-1 1c0 2.757 2.243 5 5 5s5-2.243 5-5a1 1 0 0 0-1-1"/></svg></template>
