<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 4a1 1 0 0 0 1-1V1a1 1 0 1 0-2 0v2a1 1 0 0 0 1 1zm3 1a.997.997 0 0 0 .707-.293l2-2a.999.999 0 1 0-1.414-1.414l-2 2A.999.999 0 0 0 16 5zm3 1h-2a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zM4 7v4a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1zm2 1h5v2H6V8z"/><path d="M16 10a1 1 0 0 0-1 1v7H2V4h7a1 1 0 1 0 0-2H1a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h15a1 1 0 0 0 1-1v-8a1 1 0 0 0-1-1z"/><path d="M12 14H5a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2z"/></svg></template>
