<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16 20H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2H2v14h13v-7a1 1 0 1 1 2 0v8a1 1 0 0 1-1 1zm0-15a.999.999 0 0 1-.707-1.707l2-2a.999.999 0 1 1 1.414 1.414l-2 2A.997.997 0 0 1 16 5zm3 3h-2a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2zm-6-4a1 1 0 0 1-1-1V1a1 1 0 1 1 2 0v2a1 1 0 0 1-1 1zm-1 8H5a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1zm-6-2h5V8H6v2zm6 6H5a1 1 0 1 1 0-2h7a1 1 0 1 1 0 2z"/></svg></template>
