<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 0H3a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm-1 18H4V6h1a1 1 0 1 0 0-2H4V2h12v2h-1a1 1 0 1 0 0 2h1v12zm-5-4H7a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2zm-4-2h2a1 1 0 1 0 0-2H7a1 1 0 1 0 0 2zm4-8H9a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2z"/></svg></template>
