<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.707 2.293l3 3a.999.999 0 1 1-1.414 1.414L5 5.414V17a1 1 0 1 1-2 0V5.414L1.707 6.707A.999.999 0 1 1 .293 5.293l3-3a.999.999 0 0 1 1.414 0zM11 6a1 1 0 1 1 0-2h8a1 1 0 1 1 0 2h-8zm8 3a1 1 0 1 1 0 2h-8a1 1 0 1 1 0-2h8zm0 5a1 1 0 1 1 0 2h-8a1 1 0 1 1 0-2h8z"/></svg></template>
