<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6.293 13.293a.999.999 0 1 1 1.414 1.414l-3 3a.997.997 0 0 1-1.414 0l-3-3a.999.999 0 1 1 1.414-1.414L3 14.586V3a1 1 0 1 1 2 0v11.586l1.293-1.293zM11 6a1 1 0 1 1 0-2h8a1 1 0 1 1 0 2h-8zm8 3a1 1 0 1 1 0 2h-8a1 1 0 1 1 0-2h8zm0 5a1 1 0 1 1 0 2h-8a1 1 0 1 1 0-2h8z"/></svg></template>
