<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M6 10h12V2H6v8zm6 5v-3H5a1 1 0 0 1-1-1V4c-1.103 0-2 .897-2 2v9h10zM2 18h10v-1H2v1zM19 0a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-5v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V6c0-2.206 1.794-4 4-4V1a1 1 0 0 1 1-1h14zM9 7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2H9z"/></svg></template>
