<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 1h18v18H1V1z"/><path d="M19 0a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h18zM2 18h16V2H2v16zm3-7h10a1 1 0 0 0 0-2H5a1 1 0 0 0 0 2zm0-4h10a1 1 0 0 0 0-2H5a1 1 0 0 0 0 2zm5 6H5a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2z"/></svg></template>
