<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M19 0H1a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zM2 18h16V2H2v16zm3-7h10a1 1 0 0 0 0-2H5a1 1 0 0 0 0 2m0-4h10a1 1 0 0 0 0-2H5a1 1 0 0 0 0 2m5 6H5a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2"/></svg></template>
