<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9 18H4V7h3c.55 0 1-.45 1-1V5h6v1c0 .55.45 1 1 1s1-.45 1-1V4c0-.55-.45-1-1-1H8V1c0-.55-.45-1-1-1H1C.45 0 0 .45 0 1v5c0 .55.45 1 1 1h1v12c0 .55.45 1 1 1h6c.55 0 1-.45 1-1s-.45-1-1-1zM2 5V2h4v3H2zm17.707 8.293l-5-5A.997.997 0 0 0 14 8H9a1 1 0 0 0-1 1v5c0 .265.105.52.293.707l5 5a.997.997 0 0 0 1.414 0l5-5a1 1 0 0 0 0-1.414zM14 17.586l-4-4V10h3.586l4 4L14 17.586zM12 11a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg></template>
