<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.198 16h-3.896L8 14.465V8.277l2.563-4.273A.502.502 0 0 1 11 4.5V8a1 1 0 0 0 1 1h3.753l-1.555 7zm3.582-8.625A1 1 0 0 0 17 7h-4V4.5C13 3.122 11.88 2 10.5 2H10a1 1 0 0 0-.858.485L6.433 7H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h3.697l2.748 1.832c.164.109.357.168.555.168h5a1 1 0 0 0 .976-.783l2-9a1 1 0 0 0-.196-.842z"/></svg></template>
