<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M2.18 12H9a1 1 0 1 1 0 2H8v2.962c0 .551.449 1 1 1l.394.015 2.712-5.424A.998.998 0 0 1 13 12h1V3.677L9.808 2h-5.96L2.18 12zM18 12V4h-2v8h2zm-17.986.835l2-12A1 1 0 0 1 3 0h7c.128 0 .254.024.372.071L15.194 2H19a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-5.381l-2.724 5.447a.986.986 0 0 1-.933.553l-1-.039H8.96c-1.614 0-2.96-1.345-2.96-2.999V14H1a.998.998 0 0 1-.986-1.165z"/></svg></template>
