<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.437 15.996A.502.502 0 0 1 9 15.5V12a1 1 0 0 0-1-1H4.248l1.554-7h3.896L12 5.535v6.188l-2.563 4.273zM17 4h-3.697l-2.748-1.832A.995.995 0 0 0 10 2H5c-.468 0-.874.326-.976.783l-2 9A1 1 0 0 0 3 13h4v2.5C7 16.878 8.122 18 9.5 18h.5a1 1 0 0 0 .858-.485L13.567 13H17a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z"/></svg></template>
