<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2H4v16h12V5a1 1 0 0 1 1-1zm-9 7V5a1 1 0 1 1 2 0v6c.012.45.195 1 1 1 .805 0 .988-.55 1-1.012V3c-.012-.45-.195-1-1-1a1 1 0 1 1 0-2c2.201 0 3 1.794 3 3v8c0 1.206-.799 3-3 3s-3-1.794-3-3z"/></svg></template>
