<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M11.293 8.293L12.586 7H2v11a1 1 0 1 1-2 0V2a1 1 0 1 1 2 0v3h10.586l-1.293-1.293a.999.999 0 1 1 1.414-1.414l2.999 2.999a1 1 0 0 1 0 1.416l-2.999 2.999a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414zM19 1a1 1 0 0 1 1 1v16a1 1 0 1 1-2 0v-3H7.414l1.293 1.293a.999.999 0 1 1-1.414 1.414l-2.999-2.999a1 1 0 0 1 0-1.416l2.999-2.999a.999.999 0 1 1 1.414 1.414L7.414 13H18V2a1 1 0 0 1 1-1z"/></svg></template>
