<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M2 18h5v-5H2z"/><path d="M13 8.414l-4 4V19a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h6.586l4-4H10a1 1 0 1 1 0-2h4a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0V8.414zM19 15h-7a1 1 0 1 1 0-2h6V2H7v6a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1zM2 18h5v-5H2v5z"/></svg></template>
