<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.414 13l1.293 1.293a.999.999 0 1 1-1.414 1.414l-3-3a.999.999 0 0 1 0-1.414l3-3a.999.999 0 1 1 1.414 1.414L4.414 11H11a1 1 0 1 1 0 2H4.414zM18 20H2a1 1 0 0 1-1-1v-2a1 1 0 1 1 2 0v1h14V5.618l-7-3.5-7 3.5V7a1 1 0 1 1-2 0V5c0-.379.214-.725.553-.895l8-4c.281-.14.613-.14.894 0l8 4c.339.17.553.516.553.895v14a1 1 0 0 1-1 1z"/></svg></template>
