<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 20a1 1 0 0 1-1-1V5.65l-8-3.555L2 5.65V19a1 1 0 1 1-2 0V5c0-.396.232-.753.594-.913l9-4a.999.999 0 0 1 .812 0l9 4A.999.999 0 0 1 20 5v14a1 1 0 0 1-1 1zM9 15a.997.997 0 0 1-.707-.293l-2-2a.999.999 0 1 1 1.414-1.414L9 12.586l3.293-3.293a.999.999 0 1 1 1.414 1.415l-4 4A.997.997 0 0 1 9 15z"/></svg></template>
