<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M18 12.86h-5.59L18 7.269v5.591zM12.86 18H2V7.139h3.14v6.721c0 .55.45 1 1 1h6.72V18zM7.14 2h5.59L7.14 7.589V2zM18 4.44l-8.42 8.42H7.14v-2.44L15.56 2H18v2.44zM19 0H6.14c-.55 0-1 .45-1 1v4.139H1c-.55 0-1 .45-1 1V19c0 .549.45 1 1 1h12.86c.55 0 1-.451 1-1v-4.14H19c.55 0 1-.45 1-1V1c0-.55-.45-1-1-1z"/></svg></template>
