<template functional><svg :class="data.class" v-bind="data.attrs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6zm-8 5h4v-2H8v2zM8 4h4V2H8v2zm7 0h-1V1a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v3H5C3.346 4 2 5.346 2 7v6c0 1.654 1.346 3 3 3h1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3h1c1.654 0 3-1.346 3-3V7c0-1.654-1.346-3-3-3z"/></svg></template>
