<script>
    import { AddCodeMajorTwotone } from './index';
    export default {
        name:  'Dev', // vue library dev component
        components: {
            AddCodeMajorTwotone
        }
    }
</script>

<template>
    <div class="dev">
        <AddCodeMajorTwotone width="20" height="20" fill="red" />
    </div>
</template>

<style scoped>
    .dev {
        display: block;
        width: 400px;
        margin: 100px auto;
    }
</style>
